body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "main";
    grid-template-rows: 100vh;
}

.searchBar {
    grid-area: search;
    height: 3vh;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "list info"
    "list info";
    grid-template-rows: 95vh;
}
    
.personlist{
    grid-area: list;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5%;


    .students:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.personInfo {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;

    .imgContainer{
        height: 100%;
            display: flex;
            align-items: flex-end;
            
            width: 100%; 
            box-shadow: 
                0 4px 8px 0 rgba(0, 0, 0, 0.3),
                0 6px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .personImg {
            box-shadow: 
            0 4px 8px 0 rgba(0, 0, 0, 0.3),
            0 6px 20px 0 rgba(0, 0, 0, 0.2);
            background-image: url("../img/standarduser.png");
            background-size: cover;
            
            height: 80%;
            width: 80%;

            background-position: center;
            // background-position: center; kanske man inte vill ha. Det får göras beslut om.

            background-repeat: no-repeat;
            margin: auto;
        }

    .personText {
        padding: 5%;
        background: #eeeeee;

        .name {
            font-size: 200%;
            text-decoration: underline;
            font-weight: 500;
        }
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pointer:hover{
    cursor: pointer;
}

form.student_form{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-box{
        width: 400px;
        height: 600px;
        background-color: white;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 60px 1fr;
        
        i.material-icons{
            font-size: 2rem;
            width: 50px;
            height: 50px;
            margin: 10px 10px 0 auto;
        }

        .cover{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 75%;
            height: 100%;
            margin: auto;

            .char_box{
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    margin-right: 10px;
                    font-size: 0.8rem;
                }

                i{
                    width: fit-content;
                    height: fit-content;
                    margin: auto 5px auto 5px;
                }
            }

            input{
                width: 100%;
                height: 35px;
                margin: 5px 0 5px 0;
            }
        
            button{
                width: 100%;
                margin-top: 15px;
            }

            button:last-child{
                margin-top: auto;
                margin-bottom: 30px;
                height: 40px;
            }
        }
    }

}

.hide{
    display: none;
    visibility: hidden;
}