body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "main";
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

.searchBar {
  grid-area: search;
  height: 3vh;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "list info" "list info";
  -ms-grid-rows: 95vh;
      grid-template-rows: 95vh;
}

.personlist {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  padding: 5%;
}

.personlist .students:hover {
  text-decoration: underline;
  cursor: pointer;
}

.personInfo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: info;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

.personInfo .imgContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.personInfo .personImg {
  height: 80%;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-image: url("../img/standarduser.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.personInfo .personText {
  padding: 5%;
  background: #eeeeee;
}

.personInfo .personText .name {
  font-size: 200%;
  text-decoration: underline;
  font-weight: 500;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pointer:hover {
  cursor: pointer;
}

form.student_form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.student_form .form-box {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr;
      grid-template-rows: 60px 1fr;
}

form.student_form .form-box i.material-icons {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 auto;
}

form.student_form .form-box .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.student_form .form-box .cover input {
  width: 250px;
  height: 35px;
  margin: 5px 0 5px 0;
}

form.student_form .form-box .cover button {
  width: 200px;
  margin-top: 15px;
}

.hide {
  display: none;
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */